{
	"openapi": "3.1.0",
	"info": {
		"title": "HashDit API",
		"description": "HashDit threat intelligence API for domain security analysis, blockchain address classification, address security assessment, transaction simulation, transaction security, token security, and Solana token security",
		"version": "2.0.0"
	},
	"servers": [
		{
			"url": "https://service.hashdit.io"
		}
	],
	"paths": {
		"/v2/hashdit/domain-security": {
			"post": {
				"summary": "Domain Security",
				"description": "Checks a given domain or URL for potential security risks using HashDit threat intelligence. The API analyzes the provided URL and returns a risk level along with detailed indicators.",
				"operationId": "domainSecurity",
				"parameters": [
					{
						"name": "X-API-KEY",
						"in": "header",
						"description": "Your HashDit API key",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"description": "Domain or URL to analyze",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/DomainSecurityRequest"
							},
							"examples": {
								"Whitelisted Domain": {
									"summary": "Safe domain example",
									"value": {
										"url": "https://binance.com/"
									}
								},
								"Risky Domain": {
									"summary": "Suspicious domain example",
									"value": {
										"url": "https://bnb-miner.com/"
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/DomainSecurityResponse"
								},
								"examples": {
									"Whitelisted Domain": {
										"summary": "Safe domain response",
										"value": {
											"code": "0",
											"status": "ok",
											"data": {
												"request_id": "85cb060e-75cf-4d75-887f-c23f2fc45106",
												"has_result": true,
												"polling_interval": 0,
												"risk_level": 0,
												"risk_detail": [
													{
														"name": "is_in_wlist",
														"value": "The dApp is relatively safe based on the threat intelligence."
													}
												]
											}
										}
									},
									"Risky Domain": {
										"summary": "Risky domain response",
										"value": {
											"code": "0",
											"status": "ok",
											"data": {
												"request_id": "92db171f-86dg-5e86-998g-d34g3gd56217",
												"has_result": true,
												"polling_interval": 0,
												"risk_level": 3,
												"risk_detail": [
													{
														"name": "is_in_blist",
														"value": "There are potential risks in the dApp based on the threat intelligence."
													}
												]
											}
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized - Invalid API key",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/v2/hashdit/address-classify": {
			"post": {
				"summary": "Address Classification",
				"description": "Classifies a blockchain address by type and behavior. The API identifies whether an address is an externally owned account (EOA) or contract, determines contract characteristics (e.g. proxy patterns), and provides verification and token standard metadata.",
				"operationId": "addressClassify",
				"parameters": [
					{
						"name": "X-API-Key",
						"in": "header",
						"description": "Your HashDit API key",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"description": "Blockchain address to classify",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AddressClassifyRequest"
							},
							"examples": {
								"ERC-20 Token": {
									"summary": "ERC20 token example",
									"value": {
										"chainId": "56",
										"address": "0x55d398326f99059ff775485246999027b3197955"
									}
								},
								"Proxy Contract": {
									"summary": "Proxy contract example",
									"value": {
										"chainId": "56",
										"address": "0x40af3827F39D0EAcBF4A168f8D4ee67c121D11c9"
									}
								},
								"Externally Owned Address": {
									"summary": "EOA (Externally Owned Address) example",
									"value": {
										"chainId": "56",
										"address": "0x000000000000000000000000000000000000dead"
									}
								},
								"Unverified Contract": {
									"summary": "Unverified contract example",
									"value": {
										"chainId": "56",
										"address": "0x6ce880bd41b0da78eb94da063e9a6b2fd5d721a9"
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AddressClassifyResponse"
								},
								"examples": {
									"ERC-20 Token": {
										"summary": "ERC20 token response",
										"value": {
											"code": "0",
											"status": "ok",
											"data": {
												"address": "bsc:0x55d398326f99059ff775485246999027b3197955",
												"address_type": "Contract",
												"classification": "ERC20",
												"classification_id": 101,
												"details": {
													"is_verified": true,
													"proxy_impl_address": "",
													"proxy_impl_type": ""
												},
												"is_erc20": "1",
												"scanned_time": 1766048799,
												"status": 200,
												"timestamp": "2025-12-18T09:06:43.166765",
												"verify_status": "verified"
											}
										}
									},
									"Proxy Contract": {
										"summary": "Proxy contract response",
										"value": {
											"code": "0",
											"status": "ok",
											"data": {
												"address": "bsc:0x40af3827f39d0eacbf4a168f8d4ee67c121d11c9",
												"address_type": "Contract",
												"classification": "Proxy",
												"classification_id": 5,
												"details": {
													"is_verified": true,
													"proxy_impl_address": "0x0d7adc70a18a5aef0bd6ecb098e1da0244c57711",
													"proxy_impl_type": "ERC20"
												},
												"is_erc20": "1",
												"scanned_time": 1763479290,
												"status": 200,
												"timestamp": "2025-11-18T15:21:34.616086",
												"verify_status": "verified"
											}
										}
									},
									"Externally Owned Address": {
										"summary": "EOA (Externally Owned Address) response",
										"value": {
											"code": "0",
											"status": "ok",
											"data": {
												"address": "bsc:0x000000000000000000000000000000000000dead",
												"address_type": "EOA",
												"classification": "EOA",
												"classification_id": -1,
												"details": {
													"is_verified": false,
													"proxy_impl_address": "",
													"proxy_impl_type": ""
												},
												"is_erc20": "0",
												"scanned_time": 1763166063,
												"status": 200,
												"timestamp": "2025-11-15T00:21:08.740209"
											}
										}
									},
									"Unverified Contract": {
										"summary": "Unverified contract response",
										"value": {
											"code": "0",
											"status": "ok",
											"data": {
												"address": "bsc:0x6ce880bd41b0da78eb94da063e9a6b2fd5d721a9",
												"address_type": "Contract",
												"classification": "Unverified",
												"classification_id": 2,
												"details": {
													"is_verified": false,
													"proxy_impl_address": "",
													"proxy_impl_type": ""
												},
												"is_erc20": "0",
												"scanned_time": 1766103184,
												"status": 200,
												"timestamp": "2025-12-19T00:13:08.908724",
												"verify_status": "unverified"
											}
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized - Invalid API key",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/v2/hashdit/address-security-v2": {
			"post": {
				"summary": "Address Security v2",
				"description": "Performs an in-depth security analysis of a blockchain address. The API evaluates contract behavior, privilege controls, rug pull indicators, market signals, code security practices, transparency, and threat intelligence to produce an overall risk assessment.",
				"operationId": "addressSecurityV2",
				"parameters": [
					{
						"name": "X-API-Key",
						"in": "header",
						"description": "Your HashDit API key",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"description": "Blockchain address to analyze",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AddressSecurityV2Request"
							},
							"examples": {
								"Contract": {
									"summary": "Contract address example",
									"value": {
										"chainId": "56",
										"address": "0x73feaa1ee314f8c655e354234017be2193c9e24e"
									}
								},
								"Externally Owned Address": {
									"summary": "EOA (Externally Owned Address) example",
									"value": {
										"chainId": "56",
										"address": "0x56306851238d7aee9fac8cdd6877e92f83d5924c"
									}
								},
								"ERC-20": {
									"summary": "ERC-20 token example",
									"value": {
										"chainId": "56",
										"address": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82"
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AddressSecurityV2Response"
								},
								"examples": {
									"Contract": {
										"summary": "Contract address response",
										"value": {
											"code": "0",
											"status": "ok",
											"data": {
												"address": "bsc:0x73feaa1ee314f8c655e354234017be2193c9e24e",
												"address_type": "MasterChef",
												"market": {
													"low_activity": "0",
													"newly_deployed": "0"
												},
												"overall_risk_level": "No Obvious Risk",
												"overall_score": "90",
												"privilege": {
													"has_hidden_owner": "0",
													"has_trade_limitation": "0",
													"overpowered_function": "0",
													"owner_type": "contract"
												},
												"rugpull": {
													"code_obfuscation": "0",
													"has_backdoor": "0",
													"has_migrator": "1",
													"is_honeypot": "",
													"is_known_rugpull": "",
													"is_metamorphic": "0",
													"is_ponzi": "0"
												},
												"scanned_time": 1764270688,
												"security": {
													"has_external_calls": "1",
													"has_insecure_code_practice": "1",
													"has_known_vulnerability": "0",
													"malicious_activity": "0",
													"risky_external_calls": "0"
												},
												"status": 200,
												"threat_intelligence": {
													"risk_level": "0",
													"trust_level": "3"
												},
												"transparency": {
													"can_self_destruct": "0",
													"dependency_unverified": "0",
													"is_proxy": "0",
													"proxy_implementation_verified": "",
													"verified": "1"
												}
											}
										}
									},
									"Externally Owned Address": {
										"summary": "EOA (Externally Owned Address) response",
										"value": {
											"code": "0",
											"status": "ok",
											"data": {
												"address": "bsc:0x56306851238d7aee9fac8cdd6877e92f83d5924c",
												"address_type": "EOA",
												"market": {
													"days_deployed": "",
													"low_activity": ""
												},
												"overall_risk_level": "No Obvious Risk",
												"overall_score": "100",
												"privilege": {
													"has_hidden_owner": "",
													"has_trade_limitation": "",
													"overpowered_function": "",
													"owner_type": ""
												},
												"rugpull": {
													"code_obfuscation": "",
													"has_backdoor": "",
													"has_migrator": "",
													"is_honeypot": "",
													"is_known_rugpull": "",
													"is_metamorphic": "",
													"is_ponzi": ""
												},
												"scanned_time": 1766104456,
												"security": {
													"has_external_calls": "",
													"has_insecure_code_practice": "",
													"has_known_vulnerability": "",
													"malicious_activity": "",
													"risky_external_calls": ""
												},
												"status": 200,
												"threat_intelligence": {
													"risk_level": "0",
													"trust_level": "0"
												},
												"transparency": {
													"can_self_destruct": "",
													"dependency_unverified": "",
													"is_proxy": "",
													"proxy_implementation_verified": "",
													"verified": ""
												}
											}
										}
									},
									"ERC-20": {
										"summary": "ERC-20 token response",
										"value": {
											"code": "0",
											"status": "ok",
											"data": {
												"address": "bsc:0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82",
												"address_type": "ERC20",
												"market": {
													"days_deployed": "1913",
													"low_activity": "0"
												},
												"overall_risk_level": "No Obvious Risk",
												"overall_score": "90",
												"privilege": {
													"has_hidden_owner": "0",
													"has_trade_limitation": "0",
													"overpowered_function": "1",
													"owner_type": "contract"
												},
												"rugpull": {
													"code_obfuscation": "0",
													"has_backdoor": "0",
													"has_migrator": "",
													"is_honeypot": "0",
													"is_known_rugpull": "",
													"is_metamorphic": "0",
													"is_ponzi": "0"
												},
												"scanned_time": 1766061486,
												"security": {
													"has_external_calls": "0",
													"has_insecure_code_practice": "0",
													"has_known_vulnerability": "0",
													"malicious_activity": "0",
													"risky_external_calls": "0"
												},
												"status": 200,
												"threat_intelligence": {
													"risk_level": "0",
													"trust_level": "3"
												},
												"transparency": {
													"can_self_destruct": "0",
													"dependency_unverified": "0",
													"is_proxy": "0",
													"proxy_implementation_verified": "",
													"verified": "1"
												}
											}
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized - Invalid API key",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/v2/hashdit/txn-simulation": {
			"post": {
				"summary": "Transaction Simulation",
				"description": "Simulates one or more EVM transactions without broadcasting them on-chain. The API evaluates token balance changes, approvals, ownership transfers, and address-level security risks to help detect malicious or unexpected behavior before execution.",
				"operationId": "transactionSimulation",
				"parameters": [
					{
						"name": "Content-Type",
						"in": "header",
						"description": "Must be set to application/json",
						"required": true,
						"schema": {
							"type": "string",
							"default": "application/json"
						}
					},
					{
						"name": "X-API-Key",
						"in": "header",
						"description": "Your HashDit API key (required for production use)",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"description": "Transaction simulation request",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TransactionSimulationRequest"
							},
							"example": {
								"chain_id": "56",
								"block_height": "58083468",
								"evm_transactions": [
									{
										"from": "0xfe4e28082959fc24d602719178bFC30d853a11D8",
										"to": "0x10ED43C718714eb63d5aA57B78B54704E256024E",
										"value": "0",
										"gas_limit": "300000",
										"gas_price": "150000000",
										"data": "0x...",
										"force": true
									}
								],
								"requested_items": {
									"balance_changes": true,
									"approve_changes": false,
									"ownership_changes": false,
									"involved_address_risks": true,
									"invocation_tree": false
								},
								"request_source": "Diting"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TransactionSimulationResponse"
								},
								"example": {
									"code": "000000000",
									"status": "OK",
									"type": "GENERAL",
									"data": {
										"involved_addresses": [
											"0xfe4e28082959fc24d602719178bfc30d853a11d8",
											"0x10ed43c718714eb63d5aa57b78b54704e256024e",
											"0x55d398326f99059ff775485246999027b3197955"
										],
										"involved_addresses_risks": [
											{
												"address": "0x55d398326f99059ff775485246999027b3197955",
												"risk_level": 0,
												"score": 100
											},
											{
												"address": "0x51d0efe2ad6fe5c44528c8f2b3a80ab727c3a3fc",
												"risk_level": 4,
												"score": 60
											}
										],
										"txn_summaries": [
											{
												"from": "0xfe4e28082959fc24d602719178bFC30d853a11D8",
												"to": "0x10ED43C718714eb63d5aA57B78B54704E256024E",
												"gas_used": 229454,
												"effective_gas_price": 150000000,
												"called_addresses": [
													"0x10ed43c718714eb63d5aa57b78b54704e256024e",
													"0x55d398326f99059ff775485246999027b3197955"
												],
												"balance_changes": [
													{
														"tokenName": "Binance-Peg BSC-USD",
														"symbol": "BSC-USD",
														"token_address": "0x55d398326f99059ff775485246999027b3197955",
														"change_list": [
															{
																"address": "0xfe4e28082959fc24d602719178bfc30d853a11d8",
																"amount_change": "228.257892352717276327",
																"value_usd": "228.155861074835611704"
															}
														]
													}
												]
											}
										]
									},
									"error_data": null
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized - Invalid API key",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/v2/hashdit/solana-token-security": {
			"post": {
				"summary": "Solana Token Security",
				"description": "Performs a comprehensive security assessment of a Solana token. The API analyzes mint authority, freeze authority, transfer restrictions, holder concentration, market liquidity, administrative privileges, and threat intelligence to determine the token's overall risk profile.",
				"operationId": "solanaTokenSecurity",
				"parameters": [
					{
						"name": "X-API-KEY",
						"in": "header",
						"description": "Your HashDit API key",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"description": "Solana token mint address to analyze",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/SolanaTokenSecurityRequest"
							},
							"example": {
								"address": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SolanaTokenSecurityResponse"
								},
								"example": {
									"code": "0",
									"status": "ok",
									"data": {
										"address": "sol:EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
										"address_type": "Solana",
										"overall_risk_level": "Low Risk",
										"overall_score": 80,
										"token_info": {
											"name": "USDC",
											"symbol": "USDC",
											"decimals": 6,
											"price": 1
										},
										"mint_authority": {
											"is_mintable": "1",
											"is_risky": "0",
											"authority_type": "wallet"
										},
										"freeze_authority": {
											"is_freezable": "1",
											"is_risky": "0"
										},
										"holders_concentration": {
											"total_holders": "5717115",
											"top1_concentration": "0.2231",
											"top5_concentration": "0.4445",
											"top10_concentration": "0.4908"
										},
										"market_info": {
											"has_market_info": "1",
											"total_pools": "10",
											"total_volume_24h": "1147949703.936499"
										},
										"threat_intelligence": {
											"risk_level": "0",
											"trust_level": "2"
										},
										"scanned_time": 1765819025
									}
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized - Invalid API key",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/v2/hashdit/token-security": {
			"post": {
				"summary": "Token Security",
				"description": "Performs a comprehensive security and market analysis of an EVM-compatible token (e.g. ERC-20). The API evaluates contract privileges, minting capabilities, honeypot risks, ownership controls, market liquidity, holder distribution, transfer restrictions, and threat intelligence to determine the token's overall risk profile.",
				"operationId": "tokenSecurity",
				"parameters": [
					{
						"name": "X-API-Key",
						"in": "header",
						"description": "Your HashDit API key",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"description": "Token contract address to analyze",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TokenSecurityRequest"
							},
							"example": {
								"chainId": "56",
								"address": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TokenSecurityResponse"
								},
								"example": {
									"code": "0",
									"status": "ok",
									"data": {
										"address": "bsc:0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82",
										"address_type": "ERC20",
										"overall_risk_level": "No Obvious Risk",
										"overall_score": "90",
										"basic_info": {
											"token_name": "PancakeSwap Token",
											"token_symbol": "Cake",
											"token_decimals": "18",
											"days_deployed": "1913",
											"is_mintable": "1",
											"is_in_dex": "1",
											"verified": "1"
										},
										"privileges": {
											"owner_address": "0x73feaa1eE314F8c655E354234017bE2193C9E24E",
											"owner_type": "contract",
											"dev_malicious": "0"
										},
										"security_risks": {
											"is_honeypot": "0",
											"hidden_owner": "0",
											"self_destruct": "0",
											"unlimited_mintable": "1"
										},
										"token_market": {
											"holders_count": "1870482",
											"owner_token_percent": "0.0024",
											"holders_concentration": {
												"top1_eoa_concentration": "0.0017",
												"top5_eoa_concentration": "0.0017"
											}
										},
										"trade_analysis": {
											"sell_tax": "0.0000",
											"transfer_tax": "0.0000"
										},
										"transfer_restrictions": {
											"is_anti_whale": "0",
											"transfer_pausable": "0",
											"transfer_blacklist": "0"
										},
										"threat_intelligence": {
											"risk_level": "0",
											"trust_level": "3"
										},
										"scanned_time": 1766092636
									}
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized - Invalid API key",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/v2/hashdit/transaction-security": {
			"post": {
				"summary": "Transaction Security",
				"description": "Analyzes a blockchain transaction before / after execution to identify security risks. The API inspects transaction calldata, detects dangerous patterns (e.g. unlimited approvals), evaluates dApp and domain reputation, and returns an overall risk score with detailed explanations. This endpoint is designed for wallets, signing flows, and transaction confirmation screens.",
				"operationId": "transactionSecurity",
				"parameters": [
					{
						"name": "X-API-KEY",
						"in": "header",
						"description": "Your HashDit API key",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					
					{
						"name": "Content-Type",
						"in": "header",
						"description": "Must be set to application/json",
						"required": true,
						"schema": {
							"type": "string",
							"default": "application/json"
						}
					},
					{
						"name": "X-DITING-API-DEBUG",
						"in": "header",
						"description": "Optional debug flag (1 enables verbose analysis)",
						"required": false,
						"schema": {
							"type": "string",
							"enum": ["0", "1"]
						}
					}
				],
				"requestBody": {
					"description": "Transaction to analyze",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TransactionSecurityRequest"
							},
							"example": {
								"chainId": "56",
								"from": "0xB59274D0468eA82Dc48De42488b5dfA5F7fb4A06",
								"to": "0x12BB890508c125661E03b09EC06E404bc9289040",
								"data": "0x095ea7b3...",
								"nonce": 6,
								"value": 0,
								"type": 2,
								"gas": 340800,
								"maxFeePerGas": 3497787365,
								"maxPriorityFeePerGas": 1000000000,
								"dappUrl": "https://mov-ai.com/eh?hello=ke"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TransactionSecurityResponse"
								},
								"example": {
									"chain": "bsc",
									"from": "0xb59274d0468ea82dc48de42488b5dfa5f7fb4a06",
									"to": "0x12bb890508c125661e03b09ec06e404bc9289040",
									"function": "approve(address,uint256)",
									"params": {
										"0": "0x0000000000001fF3684f28c67538d4D072C22734",
										"1": 1.157920892373162e+77
									},
									"overall_risk": 5,
									"risk_description": "Critical Risk",
									"risk_details": [
										{
											"name": "unlimited_approval",
											"risk": 3,
											"risk_name": "Medium Risk",
											"description": "Unlimited token approval detected."
										},
										{
											"name": "is_in_blist",
											"risk": 5,
											"risk_name": "Critical Risk",
											"description": "There are potential risks in the dApp based on the threat intelligence."
										}
									],
									"scanned_time": 1766097400,
									"status": {
										"domain_security": "completed",
										"tx_security": "completed"
									}
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized - Invalid API key",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		}
	},
	"components": {
		"schemas": {
			"DomainSecurityRequest": {
				"type": "object",
				"required": ["url"],
				"properties": {
					"url": {
						"type": "string",
						"description": "The full domain or URL to be analyzed.",
						"example": "https://binance.com/"
					}
				}
			},
			"DomainSecurityResponse": {
				"type": "object",
				"properties": {
					"code": {
						"type": "string",
						"description": "API status code. \"0\" indicates success.",
						"example": "0"
					},
					"status": {
						"type": "string",
						"description": "Request status (ok or error).",
						"example": "ok"
					},
					"data": {
						"$ref": "#/components/schemas/DomainSecurityData"
					}
				}
			},
			"DomainSecurityData": {
				"type": "object",
				"properties": {
					"request_id": {
						"type": "string",
						"description": "Unique identifier for this request.",
						"example": "85cb060e-75cf-4d75-887f-c23f2fc45106"
					},
					"has_result": {
						"type": "boolean",
						"description": "Indicates whether the analysis result is immediately available.",
						"example": true
					},
					"polling_interval": {
						"type": "number",
						"description": "Polling interval in seconds if results are not immediately available.",
						"example": 0
					},
					"risk_level": {
						"type": "number",
						"description": "Risk severity score (0-5). Higher values indicate higher risk.",
						"minimum": 0,
						"maximum": 5,
						"example": 0
					},
					"risk_detail": {
						"type": "array",
						"description": "Detailed list of detected risk indicators.",
						"items": {
							"$ref": "#/components/schemas/RiskDetail"
						}
					}
				}
			},
			"RiskDetail": {
				"type": "object",
				"properties": {
					"name": {
						"type": "string",
						"description": "Risk category identifier.",

						"enum": ["is_in_wlist", "is_in_blist"]
					},
					"value": {
						"type": "string",
						"description": "Human-readable explanation of the risk.",
						"enum": [
							"The dApp is relatively safe based on the threat intelligence.",
							"There are potential risks in the dApp based on the threat intelligence."
						]
					}
				}
			},
			"AddressClassifyRequest": {
				"type": "object",
				"required": ["chainId", "address"],
				"properties": {
					"chainId": {
						"type": "string",
						"description": "Blockchain chain ID. Example: 1 for Ethereum",

						"enum": ["1", "56"]
					},
					"address": {
						"type": "string",
						"description": "The blockchain address to classify.",
						"example": "0x01bff41798a0bcf287b996046ca68b395dbc1071"
					}
				}
			},
			"AddressClassifyResponse": {
				"type": "object",
				"properties": {
					"code": {
						"type": "string",
						"description": "API status code. \"0\" indicates success.",
						"example": "0"
					},
					"status": {
						"type": "string",
						"description": "Request status.",
						"example": "ok"
					},
					"data": {
						"$ref": "#/components/schemas/AddressClassifyData"
					}
				}
			},
			"AddressClassifyData": {
				"type": "object",
				"properties": {
					"address": {
						"type": "string",
						"description": "Fully qualified address with chain prefix.",
						"example": "bsc:0x01bff41798a0bcf287b996046ca68b395dbc1071"
					},
					"address_type": {
						"type": "string",
						"description": "Address category.",
						"enum": ["Contract", "EOA"]
					},
					"classification": {
						"type": "string",
						"description": "High-level contract classification.",
						"enum": ["ERC20", "Proxy", "Verified", "Unverified"]
					},
					"classification_id": {
						"type": "number",
						"description": "Internal classification identifier."
					},
					"details": {
						"$ref": "#/components/schemas/AddressClassifyDetails"
					},
					"is_erc20": {
						"type": "string",
						"description": "Indicates whether the contract follows the ERC-20 standard (1 = yes).",
						"enum": ["1", "0"]
					},
					"scanned_time": {
						"type": "number",
						"description": "Unix timestamp when the address was last analyzed."
					},
					"status": {
						"type": "number",
						"description": "HTTP-style status code for the classification result."
					},
					"timestamp": {
						"type": "string",
						"description": "ISO 8601 timestamp of the last time when the result was updated.",
						"example": "2025-12-18T09:08:44.067312"
					},
					"verify_status": {
						"type": "string",
						"description": "Verification status of the contract (e.g. verified).",
						"enum": ["verified", "unverified"]
					}
				}
			},
			"AddressClassifyDetails": {
				"type": "object",
				"properties": {
					"is_verified": {
						"type": "boolean",
						"description": "Whether the contract source code is verified.",
						"example": true
					},
					"proxy_impl_address": {
						"type": "string",
						"description": "Implementation contract address if the contract is a proxy.",
						"example": "0xb8ce59fc3717ada4c02eadf9682a9e934f625ebb"
					},
					"proxy_impl_type": {
						"type": "string",
						"description": "Token or contract standard of the proxy implementation.",
						"example": "ERC20"
					}
				}
			},
			"AddressSecurityV2Request": {
				"type": "object",
				"required": ["chainId", "address"],
				"properties": {
					"chainId": {
						"type": "string",
						"description": "Blockchain chain ID. Example: 56 for BNB Smart Chain.",
						"enum": ["1", "56"]
					},
					"address": {
						"type": "string",
						"description": "The blockchain address to analyze.",
						"example": "0x73feaa1ee314f8c655e354234017be2193c9e24e"
					}
				}
			},
			"AddressSecurityV2Response": {
				"type": "object",
				"properties": {
					"code": {
						"type": "string",
						"description": "API status code. \"0\" indicates success.",
						"example": "0"
					},
					"status": {
						"type": "string",
						"description": "Request status.",
						"example": "ok"
					},
					"data": {
						"$ref": "#/components/schemas/AddressSecurityV2Data"
					}
				}
			},
			"AddressSecurityV2Data": {
				"type": "object",
				"properties": {
					"address": {
						"type": "string",
						"description": "Fully qualified address with chain prefix.",
						"example": "bsc:0x73feaa1ee314f8c655e354234017be2193c9e24e"
					},
					"address_type": {
						"type": "string",
						"description": "Detected contract type.",
						"example": "MasterChef"
					},
					"market": {
						"$ref": "#/components/schemas/MarketIndicators"
					},
					"overall_risk_level": {
						"type": "string",
						"description": "Human-readable risk summary.",
						"enum": ["No Obvious Risk", "Low Risk", "Medium Risk", "High Risk", "Significant Risk"]
					},
					"overall_score": {
						"type": "string",
						"description": "Overall security score (0-100). Lower values indicate higher risk."
					},
					"privilege": {
						"$ref": "#/components/schemas/PrivilegeAnalysis"
					},
					"rugpull": {
						"$ref": "#/components/schemas/RugPullIndicators"
					},
					"scanned_time": {
						"type": "number",
						"description": "Unix timestamp of the latest scan.",
						"example": 1764270688
					},
					"security": {
						"$ref": "#/components/schemas/SecurityAnalysis"
					},
					"status": {
						"type": "number",
						"description": "HTTP-style status code.",
						"example": 200
					},
					"threat_intelligence": {
						"$ref": "#/components/schemas/ThreatIntelligence"
					},
					"transparency": {
						"$ref": "#/components/schemas/Transparency"
					}
				}
			},
			"MarketIndicators": {
				"type": "object",
				"properties": {
					"days_deployed": {
						"type": "string",
						"description": "Number of days since deployment."
					},
					"low_activity": {
						"type": "string",
						"description": "Indicates whether the address shows low on-chain activity.",
						"enum": ["0", "1"]
					},
					"newly_deployed": {
						"type": "string",
						"description": "Indicates whether the contract was recently deployed.",
						"enum": ["0", "1"]
					}
				}
			},
			"PrivilegeAnalysis": {
				"type": "object",
				"properties": {
					"has_hidden_owner": {
						"type": "string",
						"description": "Whether ownership is obscured.",
						"enum": ["0", "1"]
					},
					"has_trade_limitation": {
						"type": "string",
						"description": "Indicates trade restrictions.",
						"enum": ["0", "1"]
					},
					"overpowered_function": {
						"type": "string",
						"description": "Presence of privileged or dangerous functions.",
						"enum": ["0", "1"]
					},
					"owner_type": {
						"type": "string",
						"description": "Owner type.",
						"enum": ["contract", "EOA"]
					}
				}
			},
			"RugPullIndicators": {
				"type": "object",
				"properties": {
					"code_obfuscation": {
						"type": "string",
						"description": "Whether contract code is obfuscated.",
						"enum": ["0", "1"]
					},
					"has_backdoor": {
						"type": "string",
						"description": "Indicates hidden backdoor logic.",
						"enum": ["0", "1"]
					},
					"has_migrator": {
						"type": "string",
						"description": "Presence of migrator functionality.",
						"enum": ["0", "1"]
					},
					"is_honeypot": {
						"type": "string",
						"description": "Whether the contract behaves as a honeypot.",
						"enum": ["0", "1"]
					},
					"is_known_rugpull": {
						"type": "string",
						"description": "Known rug pull classification.",
						"enum": ["0", "1"]
					},
					"is_metamorphic": {
						"type": "string",
						"description": "Indicates metamorphic contract behavior.",
						"enum": ["0", "1"]
					},
					"is_ponzi": {
						"type": "string",
						"description": "Ponzi scheme indicators.",
						"enum": ["0", "1"]
					}
				}
			},
			"SecurityAnalysis": {
				"type": "object",
				"properties": {
					"has_external_calls": {
						"type": "string",
						"description": "Contract performs external calls.",
						"enum": ["0", "1"]
					},
					"has_insecure_code_practice": {
						"type": "string",
						"description": "Indicates insecure coding patterns.",
						"enum": ["0", "1"]
					},
					"has_known_vulnerability": {
						"type": "string",
						"description": "Known vulnerabilities detected.",
						"enum": ["0", "1"]
					},
					"malicious_activity": {
						"type": "string",
						"description": "Evidence of malicious behavior.",
						"enum": ["0", "1"]
					},
					"risky_external_calls": {
						"type": "string",
						"description": "Risky external call patterns detected.",
						"enum": ["0", "1"]
					}
				}
			},
			"ThreatIntelligence": {
				"type": "object",
				"properties": {
					"risk_level": {
						"type": "string",
						"description": "Threat intelligence risk score. 3 is the highest risk level.",
						"enum": ["0", "1", "2", "3"]
					},
					"trust_level": {
						"type": "string",
						"description": "Trust confidence level. 3 is the highest trust level.",
						"enum": ["0", "1", "2", "3"]
					}
				}
			},
			"Transparency": {
				"type": "object",
				"properties": {
					"can_self_destruct": {
						"type": "string",
						"description": "Contract can self-destruct.",
						"enum": ["0", "1"]
					},
					"dependency_unverified": {
						"type": "string",
						"description": "Dependencies are not verified.",
						"enum": ["0", "1"]
					},
					"is_proxy": {
						"type": "string",
						"description": "Indicates proxy usage.",
						"enum": ["0", "1"]
					},
					"proxy_implementation_verified": {
						"type": "string",
						"description": "Proxy implementation verification status.",
						"enum": ["0", "1"]
					},
					"verified": {
						"type": "string",
						"description": "Contract verification status.",
						"enum": ["0", "1"]
					}
				}
			},
			"TransactionSimulationRequest": {
				"type": "object",
				"required": ["chain_id", "block_height", "evm_transactions", "requested_items"],
				"properties": {
					"chain_id": {
						"type": "string",
						"description": "Blockchain chain ID. Example: 56 for BNB Smart Chain.",
						"enum": ["1", "56"]
					},
					"block_height": {
						"type": "string",
						"description": "Block height used as the simulation context.",
						"example": "58083468"
					},
					"evm_transactions": {
						"type": "array",
						"description": "List of EVM transactions to simulate.",
						"items": {
							"$ref": "#/components/schemas/EVMTransaction"
						}
					},
					"requested_items": {
						"$ref": "#/components/schemas/RequestedItems"
					},
					"request_source": {
						"type": "string",
						"description": "Identifier for the request source (e.g. application name).",
						"example": "Diting"
					}
				}
			},
			"EVMTransaction": {
				"type": "object",
				"required": ["from", "to", "value", "gas_limit", "gas_price", "data"],
				"properties": {
					"from": {
						"type": "string",
						"description": "Sender address.",
						"example": "0xfe4e28082959fc24d602719178bFC30d853a11D8"
					},
					"to": {
						"type": "string",
						"description": "Target contract or recipient address.",
						"example": "0x10ED43C718714eb63d5aA57B78B54704E256024E"
					},
					"value": {
						"type": "string",
						"description": "Native token value. Measured in wei.",
						"example": "0"
					},
					"gas_limit": {
						"type": "string",
						"description": "Gas limit for the simulated transaction.",
						"example": "300000"
					},
					"gas_price": {
						"type": "string",
						"description": "Gas price for the simulation. Measured in wei",
						"example": "150000000"
					},
					"data": {
						"type": "string",
						"description": "Hex-encoded transaction calldata.",
						"example": "0x..."
					},
					"force": {
						"type": "boolean",
						"description": "Forces simulation even if pre-checks fail.",
						"example": true
					}
				}
			},
			"RequestedItems": {
				"type": "object",
				"properties": {
					"balance_changes": {
						"type": "boolean",
						"description": "Include token balance change analysis."
					},
					"approve_changes": {
						"type": "boolean",
						"description": "Include ERC20 approval changes."
					},
					"ownership_changes": {
						"type": "boolean",
						"description": "Include ownership transfer detection."
					},
					"involved_address_risks": {
						"type": "boolean",
						"description": "Include risk scores for involved addresses."
					},
					"invocation_tree": {
						"type": "boolean",
						"description": "Include detailed call tree (expensive)."
					}
				}
			},
			"TransactionSimulationResponse": {
				"type": "object",
				"properties": {
					"code": {
						"type": "string",
						"description": "API result code.",
						"example": "000000000"
					},
					"status": {
						"type": "string",
						"description": "Request status (OK on success).",
						"example": "OK"
					},
					"type": {
						"type": "string",
						"description": "Simulation category.",
						"example": "GENERAL"
					},
					"data": {
						"$ref": "#/components/schemas/TransactionSimulationData"
					},
					"error_data": {
						"type": ["object", "null"],
						"description": "Error details if simulation fails.",
						"example": null
					}
				}
			},
			"TransactionSimulationData": {
				"type": "object",
				"properties": {
					"involved_addresses": {
						"type": "array",
						"description": "All addresses touched during execution.",
						"items": {
							"type": "string"
						}
					},
					"involved_addresses_risks": {
						"type": "array",
						"description": "Risk scores for involved addresses.",
						"items": {
							"$ref": "#/components/schemas/AddressRisk"
						}
					},
					"txn_summaries": {
						"type": "array",
						"description": "Per-transaction simulation results.",
						"items": {
							"$ref": "#/components/schemas/TransactionSummary"
						}
					}
				}
			},
			"AddressRisk": {
				"type": "object",
				"properties": {
					"address": {
						"type": "string",
						"description": "Address that was analyzed.",
						"example": "0x55d398326f99059ff775485246999027b3197955"
					},
					"risk_level": {
						"type": "number",
						"description": "Risk severity level. Higher values indicate higher risk. -1 indicates unknown risk.",
						"enum": ["-1", "0", "1", "2", "3", "4", "5"]
					},
					"score": {
						"type": "number",
						"description": "Trust score. Higher values indicate higher trust. -1 indicates unknown score.",
						"minimum": 0,
						"maximum": 100
					}
				}
			},
			"TransactionSummary": {
				"type": "object",
				"properties": {
					"from": {
						"type": "string",
						"description": "Sender address.",
						"example": "0xfe4e28082959fc24d602719178bFC30d853a11D8"
					},
					"to": {
						"type": "string",
						"description": "Recipient address.",
						"example": "0x10ED43C718714eb63d5aA57B78B54704E256024E"
					},
					"gas_used": {
						"type": "number",
						"description": "Gas consumed by the transaction.",
						"example": 229454
					},
					"effective_gas_price": {
						"type": "number",
						"description": "Gas price applied during simulation. Measured in wei",
						"example": 150000000
					},
					"called_addresses": {
						"type": "array",
						"description": "Contracts invoked during execution (if requested).",
						"items": {
							"type": "string"
						}
					},
					"balance_changes": {
						"type": "array",
						"description": "Token balance changes by address (if requested).",
						"items": {
							"$ref": "#/components/schemas/BalanceChange"
						}
					},
					"approve_changes": {
						"type": "array",
						"description": "ERC20 approval changes (if requested).",
						"items": {
							"type": "object"
						}
					},
					"ownership_changes": {
						"type": "array",
						"description": "Ownership transfers (if requested).",
						"items": {
							"type": "object"
						}
					}
				}
			},
			"BalanceChange": {
				"type": "object",
				"properties": {
					"tokenName": {
						"type": "string",
						"description": "Name of the token.",
						"example": "Binance-Peg BSC-USD"
					},
					"symbol": {
						"type": "string",
						"description": "Symbol of the token.",
						"example": "BSC-USD"
					},
					"token_address": {
						"type": "string",
						"description": "Smart contract address of the token.",
						"example": "0x55d398326f99059ff775485246999027b3197955"
					},
					"change_list": {
						"type": "array",
						"description": "List of balance changes for different addresses.",
						"items": {
							"$ref": "#/components/schemas/BalanceChangeItem"
						}
					}
				}
			},
			"BalanceChangeItem": {
				"type": "object",
				"properties": {
					"address": {
						"type": "string",
						"description": "Address with balance change.",
						"example": "0xfe4e28082959fc24d602719178bfc30d853a11d8"
					},
					"amount_change": {
						"type": "string",
						"description": "Amount change in token units.",
						"example": "228.257892352717276327"
					},
					"value_usd": {
						"type": "string",
						"description": "Amount change in USD.",
						"example": "228.155861074835611704"
					}
				}
			},
			"SolanaTokenSecurityRequest": {
				"type": "object",
				"required": ["address"],
				"properties": {
					"address": {
						"type": "string",
						"description": "Solana token mint address.",
						"example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
					}
				}
			},
			"SolanaTokenSecurityResponse": {
				"type": "object",
				"properties": {
					"code": {
						"type": "string",
						"description": "API result code. \"0\" indicates success.",
						"example": "0"
					},
					"status": {
						"type": "string",
						"description": "Request status.",
						"example": "ok"
					},
					"data": {
						"$ref": "#/components/schemas/SolanaTokenSecurityData"
					}
				}
			},
			"SolanaTokenSecurityData": {
				"type": "object",
				"properties": {
					"address": {
						"type": "string",
						"description": "Fully qualified Solana token mint address.",
						"example": "sol:EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
					},
					"address_type": {
						"type": "string",
						"description": "Blockchain type (Solana).",
						"example": "Solana"
					},
					"overall_risk_level": {
						"type": "string",
						"description": "Overall risk classification.",
						"enum": ["No Obvious Risk", "Low Risk", "Medium Risk", "High Risk", "Significant Risk"]
					},
					"overall_score": {
						"type": "number",
						"description": "Security score (0–100). Lower values indicate higher risk.",
						"minimum": 0,
						"maximum": 100
					},
					"token_info": {
						"$ref": "#/components/schemas/TokenInfo"
					},
					"mint_authority": {
						"$ref": "#/components/schemas/MintAuthority"
					},
					"freeze_authority": {
						"$ref": "#/components/schemas/FreezeAuthority"
					},
					"holders_concentration": {
						"$ref": "#/components/schemas/HoldersConcentration"
					},
					"market_info": {
						"$ref": "#/components/schemas/MarketInfo"
					},
					"threat_intelligence": {
						"$ref": "#/components/schemas/ThreatIntelligence"
					},
					"scanned_time": {
						"type": "number",
						"description": "Unix timestamp of the latest scan.",
						"example": 1765819025
					}
				}
			},
			"TokenInfo": {
				"type": "object",
				"properties": {
					"name": {
						"type": "string",
						"description": "Token name.",
						"example": "USDC"
					},
					"symbol": {
						"type": "string",
						"description": "Token symbol.",
						"example": "USDC"
					},
					"decimals": {
						"type": "number",
						"description": "Token decimals.",
						"example": 6
					},
					"price": {
						"type": "number",
						"description": "Current token price in USD(if available).",
						"example": 1
					}
				}
			},
			"MintAuthority": {
				"type": "object",
				"properties": {
					"is_mintable": {
						"type": "string",
						"description": "Determines whether new tokens can be minted.",
						"enum": ["0", "1"]
					},
					"is_risky": {
						"type": "string",
						"description": "Indicates if mint authority poses risks.",
						"enum": ["0", "1"]
					},
					"authority_type": {
						"type": "string",
						"description": "Type of mint authority.",
						"enum": ["wallet", "program"]
					}
				}
			},
			"FreezeAuthority": {
				"type": "object",
				"properties": {
					"is_freezable": {
						"type": "string",
						"description": "Indicates whether token transfers can be frozen.",
						"enum": ["0", "1"]
					},
					"is_risky": {
						"type": "string",
						"description": "Indicates if freeze authority poses risks.",
						"enum": ["0", "1"]
					}
				}
			},
			"HoldersConcentration": {
				"type": "object",
				"properties": {
					"total_holders": {
						"type": "string",
						"description": "Total number of token holders.",
						"example": "5717115"
					},
					"top1_concentration": {
						"type": "string",
						"description": "Percentage of supply held by top 1 holder. E.g. 0.2231 means 22.31%",
						"example": "0.2231"
					},
					"top5_concentration": {
						"type": "string",
						"description": "Percentage of supply held by top 5 holders. E.g. 0.4445 means 44.45%",
						"example": "0.4445"
					},
					"top10_concentration": {
						"type": "string",
						"description": "Percentage of supply held by top 10 holders. E.g. 0.4908 means 49.08%",
						"example": "0.4908"
					}
				}
			},
			"MarketInfo": {
				"type": "object",
				"properties": {
					"has_market_info": {
						"type": "string",
						"description": "Whether market information is available.",
						"enum": ["0", "1"]
					},
					"total_pools": {
						"type": "string",
						"description": "Total number of liquidity pools."

					},
					"total_volume_24h": {
						"type": "string",
						"description": "Total 24-hour trading volume in USD.",
						"example": "1147949703.936499"
					}
				}
			},
			"TokenSecurityRequest": {
				"type": "object",
				"required": ["chainId", "address"],
				"properties": {
					"chainId": {
						"type": "string",
						"description": "Blockchain chain ID (e.g. 56 for BNB Smart Chain).",
						"enum": ["1", "56"]
					},
					"address": {
						"type": "string",
						"description": "Token contract address.",
						"example": "0x0e09fabb73bd3ade0a17ecc321fd13a19e81ce82"
					}
				}
			},
			"TokenSecurityResponse": {
				"type": "object",
				"properties": {
					"code": {
						"type": "string",
						"description": "API result code. \"0\" indicates success.",
						"example": "0"
					},
					"status": {
						"type": "string",
						"description": "Request status.",
						"example": "ok"
					},
					"data": {
						"$ref": "#/components/schemas/TokenSecurityData"
					}
				}
			},
			"TokenSecurityData": {
				"type": "object",
				"properties": {
					"address": {
						"type": "string",
						"description": "Fully qualified token address with chain prefix.",
						"example": "bsc:0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82"
					},
					"address_type": {
						"type": "string",
						"description": "Token standard.",
						"example": "ERC20"
					},
					"overall_risk_level": {
						"type": "string",
						"description": "Overall risk summary.",
						"enum": ["No Obvious Risk", "Low Risk", "Medium Risk", "High Risk", "Significant Risk"]
					},
					"overall_score": {
						"type": "string",
						"description": "Overall security score (0–100). Lower values indicate higher risk."
	
					},
					"basic_info": {
						"$ref": "#/components/schemas/BasicTokenInfo"
					},
					"privileges": {
						"$ref": "#/components/schemas/TokenPrivileges"
					},
					"security_risks": {
						"$ref": "#/components/schemas/SecurityRisks"
					},
					"token_market": {
						"$ref": "#/components/schemas/TokenMarket"
					},
					"trade_analysis": {
						"$ref": "#/components/schemas/TradeAnalysis"
					},
					"transfer_restrictions": {
						"$ref": "#/components/schemas/TransferRestrictions"
					},
					"threat_intelligence": {
						"$ref": "#/components/schemas/ThreatIntelligence"
					},
					"scanned_time": {
						"type": "number",
						"description": "Unix timestamp of the latest scan.",
						"example": 1766092636
					}
				}
			},
			"BasicTokenInfo": {
				"type": "object",
				"properties": {
					"token_name": {
						"type": "string",
						"description": "Token name.",
						"example": "PancakeSwap Token"
					},
					"token_symbol": {
						"type": "string",
						"description": "Token symbol.",
						"example": "Cake"
					},
					"token_decimals": {
						"type": "string",
						"description": "Token decimals.",
						"example": "18"
					},
					"days_deployed": {
						"type": "string",
						"description": "Number of days since deployment."
					},
					"is_mintable": {
						"type": "string",
						"description": "Indicates whether new tokens can be minted.",
						"enum": ["0", "1"]
					},
					"is_in_dex": {
						"type": "string",
						"description": "Token is listed on a DEX.",
						"enum": ["0", "1"]
					},
					"verified": {
						"type": "string",
						"description": "Contract verification status.",
						"enum": ["0", "1"]
					}
				}
			},
			"TokenPrivileges": {
				"type": "object",
				"properties": {
					"owner_address": {
						"type": "string",
						"description": "Contract owner address.",
						"example": "0x73feaa1eE314F8c655E354234017bE2193C9E24E"
					},
					"owner_type": {
						"type": "string",
						"description": "Owner type.",
						"enum": ["contract", "EOA"]
					},
					"dev_malicious": {
						"type": "string",
						"description": "Developer risk indicator.",
						"enum": ["0", "1"]
					}
				}
			},
			"SecurityRisks": {
				"type": "object",
				"properties": {
					"is_honeypot": {
						"type": "string",
						"description": "Indicates honeypot behaviour. A honeypot is a type of malicious smart contract designed to lure users into interacting with it under false pretenses. It appears to allow certain profitable actions (like buying or withdrawing tokens), but when users try to perform other actions (such as selling or transferring tokens), they are blocked or lose their funds.",
						"enum": ["0", "1"]
					},
					"hidden_owner": {
						"type": "string",
						"description": "Ownership obfuscation detection. Hidden owner means the identity of the owner (or priviledged addresses) is not easily identifiable, in order to deceive users.",
						"enum": ["0", "1"]
					},
					"self_destruct": {
						"type": "string",
						"description": "Contract self-destruct capability. A self-destruct feature allows the contract owner to permanently delete the contract and its associated funds, rendering it permanently inactive.",
						"enum": ["0", "1"]
					},
					"unlimited_mintable": {
						"type": "string",
						"description": "Unlimited minting capability. An unlimited minting feature allows the contract owner to mint an unlimited number of tokens, regardless of the total supply.",
						"enum": ["0", "1"]
					}
				}
			},
			"TokenMarket": {
				"type": "object",
				"properties": {
					"holders_count": {
						"type": "string",
						"description": "Total number of token holders.",
						"example": "1870482"
					},
					"owner_token_percent": {
						"type": "string",
						"description": "Percentage of tokens owned by the contract owner. E.g. 0.17 means 17%",
						"example": "0.17"
					},
					"holders_concentration": {
						"$ref": "#/components/schemas/HoldersConcentrationEVM"
					}
				}
			},
			"HoldersConcentrationEVM": {
				"type": "object",
				"properties": {
					"top1_eoa_concentration": {
						"type": "string",
						"description": "Percentage of supply held by top 1 EOA holder. E.g. 0.17 means 17%",
						"example": "0.17"
					},
					"top5_eoa_concentration": {
						"type": "string",
						"description": "Percentage of supply held by top 5 EOA holders. E.g. 0.17 means 17%",
						"example": "0.17"
					}
				}
			},
			"TradeAnalysis": {
				"type": "object",
				"properties": {
					"sell_tax": {
						"type": "string",
						"description": "The amount of percentage tax charged when selling tokens. E.g. 0.01 means 1%",
						"example": "0.01"
					},
					"buy_tax": {
						"type": "string",
						"description": "The amount of percentage tax charged when buying tokens. E.g. 0.01 means 1%",
						"example": "0.01"
					},
					"transfer_tax": {
						"type": "string",
						"description": "The amount of percentage tax charged when transferring tokens. E.g. 0.01 means 1%",
						"example": "0.01"
					}
				}
			},
			"TransferRestrictions": {
				"type": "object",
				"properties": {
					"is_anti_whale": {
						"type": "string",
						"description": "Indicates whether anti-whale restrictions are in place. Anti-whale restrictions are designed to prevent large holders from dominating the market and manipulating prices.",
						"enum": ["0", "1"]
					},
					"transfer_pausable": {
						"type": "string",
						"description": "Indicates whether a privileged address can pause token transfers.",
						"enum": ["0", "1"]
					},
					"transfer_blacklist": {
						"type": "string",
						"description": "Indicates whether a privileged address can blacklist other addresses from transferring tokens.",
						"enum": ["0", "1"]
					}
				}
			},
			"TransactionSecurityRequest": {
				"type": "object",
				"required": ["chainId", "from", "to", "data", "nonce", "value", "gas"],
				"properties": {
					"chainId": {
						"type": "string",
						"description": "Blockchain chain ID (e.g. 56 for BNB Smart Chain).",
						"enum": ["1", "56"]
					},
					"from": {
						"type": "string",
						"description": "Sender address.",
						"example": "0xB59274D0468eA82Dc48De42488b5dfA5F7fb4A06"
					},
					"to": {
						"type": "string",
						"description": "Target contract address or recipient address.",
						"example": "0x12BB890508c125661E03b09EC06E404bc9289040"
					},
					"data": {
						"type": "string",
						"description": "Hex-encoded transaction calldata.",
						"example": "0x095ea7b3..."
					},
					"nonce": {
						"type": "number",
						"description": "Transaction nonce.",
						"example": 6
					},
					"value": {
						"type": "number",
						"description": "Native token value. Measured in wei.",
						"example": 0
					},
					"type": {
						"type": "number",
						"description": "Transaction type. E.g. 2 for EIP-1559.",
						"enum": [0, 2]
					},
					"gas": {
						"type": "number",
						"description": "Gas limit.",
						"example": 340800
					},
					"maxFeePerGas": {
						"type": "number",
						"description": "Max fee per gas (EIP-1559).",
						"example": 3497787365
					},
					"maxPriorityFeePerGas": {
						"type": "number",
						"description": "Priority fee per gas (EIP-1559).",
						"example": 1000000000
					},
					"dappUrl": {
						"type": "string",
						"description": "Originating dApp URL for domain risk analysis.",
						"example": "https://mov-ai.com/eh?hello=ke"
					}
				}
			},
			"TransactionSecurityResponse": {
				"type": "object",
				"properties": {
					"chain": {
						"type": "string",
						"description": "Blockchain identifier.",
						"example": "bsc"
					},
					"from": {
						"type": "string",
						"description": "Sender address.",
						"example": "0xb59274d0468ea82dc48de42488b5dfa5f7fb4a06"
					},
					"to": {
						"type": "string",
						"description": "Target contract address or recipient address.",
						"example": "0x12bb890508c125661e03b09ec06e404bc9289040"
					},
					"function": {
						"type": "string",
						"description": "Decoded function signature.",
						"example": "approve(address,uint256)"
					},
					"params": {
						"type": "object",
						"description": "Decoded function parameters.",
						"example": {
							"0": "0x0000000000001fF3684f28c67538d4D072C22734",
							"1": 1.157920892373162e+77
						}
					},
					"value": {
						"type": "number",
						"description": "Native token value. Measured in wei.",
						"example": 0
					},
					"gas_used": {
						"type": "number",
						"description": "Gas used (if simulated)."
					},
					"overall_risk": {
						"type": "number",
						"description": "Overall risk score (0-5). Higher values indicate higher risk.",
						"enum": ["0", "1", "2", "3", "4", "5"]
					},
					"risk_description": {
						"type": "string",
						"description": "Human-readable risk level (e.g. Critical Risk).",
						"example": "Critical Risk"
					},
					"risk_details": {
						"type": "array",
						"description": "Detailed list of detected risks.",
						"items": {
							"$ref": "#/components/schemas/RiskDetailItem"
						}
					},
					"scanned_time": {
						"type": "number",
						"description": "Unix timestamp of analysis.",
						"example": 1766097400
					},
					"status": {
						"$ref": "#/components/schemas/TransactionSecurityStatus"
					},
					"url": {
						"type": "string",
						"description": "dApp URL used for domain analysis (if provided).",
						"example": "https://mov-ai.com/eh?hello=ke"
					}
				}
			},
			"RiskDetailItem": {
				"type": "object",
				"properties": {
					"name": {
						"type": "string",
						"description": "Risk identifier.",
						"example": "unlimited_approval"
					},
					"value": {
						"type": "string",
						"description": "Associated value (address, string, etc.)."
					},
					"value_type": {
						"type": "string",
						"description": "Value type (e.g. address, string)."
					},
					"risk": {
						"type": "number",
						"description": "Risk severity score (0-5). Higher values indicate higher risk.",
						"enum": ["0", "1", "2", "3", "4", "5"]
					},
					"risk_name": {
						"type": "string",
						"description": "Risk label (e.g. Medium Risk).",
						"example": "Medium Risk"
					},
					"description": {
						"type": "string",
						"description": "User-facing explanation of the risk.",
						"example": "Unlimited token approval detected."
					}
				}
			},
			"TransactionSecurityStatus": {
				"type": "object",
				"properties": {
					"domain_security": {
						"type": "string",
						"description": "Domain analysis status.",
						"enum": ["completed", "in_progress", "failed"]
					},
					"tx_security": {
						"type": "string",
						"description": "Transaction analysis status.",
						"enum": ["completed", "in_progress", "failed"]
					}
				}
			},
			"ErrorResponse": {
				"type": "object",
				"properties": {
					"code": {
						"type": "string",
						"description": "Error code"
					},
					"status": {
						"type": "string",
						"description": "Error status",
						"example": "error"
					},
					"message": {
						"type": "string",
						"description": "Error message"
					}
				}
			}
		},
		"securitySchemes": {
			"apiKeyAuth": {
				"type": "apiKey",
				"in": "header",
				"name": "X-API-KEY"
			}
		}
	}
}
